/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(273, 97%, 66%);
  --first-color-shape: hsl(253, 33%, 32%);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --container-color: #fff;
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(273, 21%, 56%);
  --container-color-dark: hsl(273, 80%, 14%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

/* .section__height {
  height: 100vh;
} */

/*=============== HEADER Y NAV ===============*/
.nav {
  background-color: var(--container-color-dark);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.nav__shape {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-shape);
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  filter: blur(90px);
}

.nav__close {
  position: relative;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.nav__img {
  width: 70px;
}

.nav__mask {
  width: 80px;
  height: 80px;
  background: linear-gradient(224deg, #a22fe9 -2%, #ddaafe 97%);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.nav__data {
  position: relative;
  margin-bottom: 3rem;
}

.nav__greeting {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-bottom: .25rem;
}

.nav__name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color-dark);
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: .4s;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo, .header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
}

.header__toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  transform: translate(70%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(40%);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header__nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
}


/* kritesh code */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
.banner{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5s;
}
.banner.night{
    background: #333;
}

.content{
  margin-top: 100px;
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size: 2em;
    color: #333;
    font-weight: 200;
    transition: 0.5s;
}
.content h2 {
    color: #333;
    font-size: 4.1em;
    font-weight: 700;
    transition: 0.5s;
}
.content h2 span{
    color: #e91e63;
}
.content p{
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}
.content button{
    position: relative;
    background: #2196f3;
    color : #fff;
    border : none;
    outline : none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.content button.chat{
    background: transparent;
    color: #333;
}
.content button.chat ion-icon {
    position: relative;
    top: 5px;
    color:#e91e63;
    font-size: 1.5em;
}
.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}
.sci li a:hover{
    color: #2196f3;
}
.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .dayNight{
    background: #444;
    color: #fff;
}
.dayNight ion-icon:nth-child(2),.banner.night .dayNight ion-icon:nth-child(1){
    display: none;
}
.banner.night .dayNight ion-icon:nth-child(2){
    display: block;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a{
    color: #fff;
}
.banner.night .sci li a:hover{
    color: #2196f3;
}
.bg{
    position: absolute;
    top: 15%;
    right: 0;
    max-height: 75vh;
    max-width: 35vw;
    animation: animateBg 8s ease-in-out infinite ;
}
@keyframes animateBg {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
}

.mitrozzLogo{
    position: absolute;
    right: 0;
    top: 15%;;
    max-width: 35vw;
    max-height: 75vh;
    animation: animateMitrozzLogo 8s ease-in-out infinite;
}
@keyframes animateMitrozzLogo {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
}


.logos-slide img{
    height: 50px;
    padding: 50px;
}

/* 
Gide code */


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* body {
  background:#f0f0f0;
} */
img {
  max-width:100%;
}



.card-grid {
  width:100%;
}
.card-grid:after {
  content: "";
  display: table;
  clear: both;
}



.card-wrap {
  float:left;
  width:100%;
  padding:15px;

}
@media (min-width: 500px) {
  .card-wrap {
    width:50%;
  }
}
@media (min-width: 720px) {
  .card-wrap {
    width:30%;
  }
}


.card {
  background-color:white;
  border-radius:5px;
  border:1px solid #ccc;
  border-bottom:2px solid #ccc;
}
.card > div {
  padding:0 1em;
}



/* footer */


h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
/* .btn {
  padding: 14px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.red-btn {
  background: #ed1b24;
  border: 2px solid #ed1b24;
  color: #fff;
}

.red-btn:hover {
  background: #1c376c;
  color: #fff;
  border-color: #ffffff;
} */

/*---------footer---------*/
footer {
  background-color: #a420e6;
  background-image: -webkit-linear-gradient(top, #8d31bb, #1e2c47);
  background-image: -moz-linear-gradient(top, #222023, #1e2c47);
  background-image: -o-linear-gradient(top, #222023, #1e2c47);
  background-image: linear-gradient(to bottom, #32f8b6, #1e2c47);
  color: #fff;
  padding: 20px 0;
  font-size: 17px;
}
footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}
.about-footer li i {
  position: absolute;
  left: 0;
}
.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ed1b24;
}
.footer-title {
  border-bottom: 2px solid #a61f2d;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

ul.footer-social {
  float: right;
}

ul.footer-social li {
  display: inline;
  margin-right: 16px;
}

ul .footer-social i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 800;
}

ul.footer-social li:last-child {
  margin-right: 0px;
}

ul.footer-social i:hover {
  background: #ed1b24;
  color: #fff;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {
  text-align: right;
}
footer .table td {
  padding: 0px;
  border: 0;
}



footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}
.footer-logo td {
  padding-right: 4px !important;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}
footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}
.footer-bottom {
  margin-top: 30px;
}
.open-hours hr {
  margin: 30px 0;
}














